<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>虾米地址解析器</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="虾米网音乐真实链接解析器">
        <meta name="author" content="Dndx (idndx.com)">

        <link href="http://lib.sinaapp.com/js/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">

        <style type="text/css">
            body{margin:0; padding:0; width:100%; height:100%; }  
            .container{position:absolute; top:50%; left:50%; margin-top:-250px; margin-left:-400px; width:800px; height:500px; text-align:center; }  
            #url{height:39px; width:630px; font-size:28px; margin-bottom:0px; line-height:28px; }
            .btn{font-size:25px; }
            div.alert, div.well{margin-top:1em; }
            h1 a, h1 a:hover{color: black;}
            .popover-inner{width: 100px; }
            div.well ul{list-style-type:none; text-align:left; font-size: 20px; }
            div.well ul li{line-height:30px; }
            .album_img{float:right; width:80px; height:80px; }
            .d_clip_button{margin-left:3.7em; line-height:30px; }
            .all_down_container, .win_rename_container, .nix_rename_container{text-align: left; margin-top:1em; display:inline-block; }
            .all_down_button, .win_rename_button, .nix_rename_button{line-height:30px; }
            #renameoption{margin-top:1em; }
            #renameoption label{float:left; margin-right:2em; }
            #renameoption input{display:inline; margin-right:1em; }
            
        </style>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="container">
            <h1><a href="{{ url_for('index') }}" title="回首页">虾米地址解析器</a></h1><br /><br />
            <input placeholder="请输入虾米单曲、专辑或精选集地址" type="text" id="url" />
            <input type="button" class="btn btn-large btn-primary" value="给我地址！" />
            <div class="url alert alert-error hide">
                <b>URL格式错误，请输入虾米单曲、专辑或精选集页面地址。</b><br />
                例：<a class="example" href="#">http://www.xiami.com/song/1769831786</a><br />
                <a class="example" href="#">http://www.xiami.com/album/406532</a><br />
                <a class="example" href="#">http://www.xiami.com/song/showcollect/id/11065698</a>
            </div>
            {% if result %}
            <div class="all_down_container" style="position:relative">
                <div class="all_down_button btn btn-warning">复制全部链接到剪贴板</div>
            </div>
            <div class="win_rename_container" style="position:relative">
                <div class="win_rename_button btn btn-warning">Windows改名批处理</div>
            </div>
            <div class="nix_rename_container" style="position:relative">
                <div class="nix_rename_button btn btn-warning">*nix改名Shell</div>
            </div>
            <div id="renameoption"><label><b>改名选项：</b></label><label for="trackid"><input id="trackid" type="checkbox" checked="checked" />曲目编号</label>
                <label for="artistname"><input id="artistname" type="checkbox" checked="checked" />歌手姓名</label>
                <label for="albumname"><input id="albumname" type="checkbox" checked="checked" />专辑名称</label>
                <label for="trackname"><input id="trackname" type="checkbox" checked="checked" disabled="disabled" />歌曲名称</label>
                <div style="clear:both;"></div>
            </div>
            {% for x in result %}
            <div class="well">
                <ul>
                    <li><img class="album_img" src="{{ x['album_img'] }}" alt="Album cover image" /></li>
                    <li style="padding-left:2em; "><b>歌曲：</b>{{ x['song'] }}</li>
                    <li style="padding-left:2em; "><b>专辑：</b>{{ x['album'] }}</li>
                    <li style="padding-left:1em; "><b>艺术家：</b>{{ x['artist'] }}</li>
                    <li><b>下载地址：</b><a class="download" title="请将链接复制到空白浏览器窗口再下载" href="{{ x['url'] }}" target="_blank">{{ x['url'] }}</a></li>
                    <li>
                        <div class="d_clip_container" style="position:relative">
                            <div class="d_clip_button btn btn-info">复制链接到剪贴板</div>
                        </div>
                    </li>
                </ul>
            </div>
            {% endfor %}
            <div class="download alert alert-error hide">
                由于虾米的防盗链措施，直接点击无法下载。请右键点击下载链接将其复制，再打开新的空白浏览器窗口将地址粘贴并回车。<br />
            </div>
            {% endif %}
            <hr />
            <ul>
                <li>本工具当前能解析单首歌曲、专辑或精选集页面，如有建议请在<a target="_blank" href="http://www.v2ex.com/t/34108">V2EX主贴</a>提出。</li>
                <li>本工具完全为娱乐所作，作者不对使用其可能产生的任何后果承担任何责任。</li>
                <li>您可以将<a id="bookmark" href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('src','http://xmurl.sinaapp.com/static/xmurl.js');document.body.appendChild(e);})())">虾米一键解析</a>加入您的书签栏，这样您下次在虾米的单曲、专辑或精选集页面点击书签就可以快速跳到解析页面。</li>
                <li>This is an <a href="https://github.com/dndx/xiamiurl">Open Source</a> Porject</li>
            </ul>
        <footer>
        Site built by: <a href="http://www.idndx.com/">Dndx</a>, using <a href="http://python.org/" target="_blank">Python</a>, <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, <a href="http://www.crummy.com/software/BeautifulSoup/" target="_blank">BeautifulSoup</a>. Debug: {{ 'On' if config['debug'] else 'Off' }}, Page rendered in {{ render_time }} second(s).<br />
        <a href="http://validator.w3.org/check?uri=referer">Valid HTML5</a><br />
        <a href="http://sae.sina.com.cn" target="_blank"><img src="http://static.sae.sina.com.cn/image/poweredby/120X33_transparent.gif" title="Powered by Sina App Engine"></a>
        </footer>
        </div> <!-- /container -->
        
        <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://lib.sinaapp.com/js/bootstrap/latest/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='ZeroClipboard.js') }}"></script>
        <script type="text/javascript">
            $(function(){
                    $('a').tooltip({'placement' : 'right'});
                    $('a.download').click(function(){
                        var that = this;
                        $('div.alert.download').fadeOut('slow', function(){
                            $(that).parent().parent().after($('div.alert.download')).parent().find('div.alert').fadeIn('slow');
                        });
                        return false;
                    });
                    $('a.example').click(function(){
                        $('#url').val($(this).text());
                        return false;
                    });
                    $('input[type=button]').click(function(){
                        var url = $.trim($('#url').val());
                        var result = /^http:\/\/www\.xiami\.com\/song\/(\d+)$/.exec(url);
                        if (result){
                            $(this).prop('disabled', true);
                            $(this).val('Working...');
                            window.location.replace('/song/' + result[1]);
                            return false;
                        }
                        var result = /^http:\/\/www\.xiami\.com\/album\/(\d+)$/.exec(url);
                        if (result){
                            $(this).prop('disabled', true);
                            $(this).val('Working...');
                            window.location.replace('/album/' + result[1]);
                            return false;
                        }
                        var result = /^http:\/\/www\.xiami\.com\/song\/showcollect\/id\/(\d+)$/.exec(url);
                        if (result){
                            $(this).prop('disabled', true);
                            $(this).val('Working...');
                            window.location.replace('/collect/' + result[1]);
                            return false;
                        }
                        $('div.alert.url').fadeIn('slow');
                        window.setTimeout(function(){
                            $('div.alert.url').fadeOut(2000);
                        }, 2000);
                        return false;
                    });
                    $('#bookmark').click(function(){
                        alert('请右键将此链接加入书签工具栏。');
                        return false;
                    });
                    ZeroClipboard.setMoviePath('{{ url_for('static', filename='ZeroClipboard.swf') }}');
                    {% if result %}
                    $('.d_clip_container').mouseenter(function(){
                        var url = $(this).parent().siblings().find('a.download').attr('href');
                        var clip = new ZeroClipboard.Client();
                        clip.setText(url);
                        clip.setHandCursor(true);
                        clip.glue($(this).children('.d_clip_button').get(0), this);
                        clip.addEventListener('onComplete', function(e){
                            $(e.domElement).hide().text('已复制到剪贴板').fadeIn('fast');
                            window.setTimeout(function(){
                                $(e.domElement).text('复制链接到剪贴板');
                            }, 2000);
                        });
                    });
                    $('.all_down_container').mouseenter(function(){
                        var url = '';
                        $('a.download').each(function(i, e){
                            url += $(e).attr('href') + '\n';
                        });
                        var clip = new ZeroClipboard.Client();
                        clip.setText(url);
                        clip.setHandCursor(true);
                        clip.glue($(this).children('.all_down_button').get(0), this);
                        clip.addEventListener('onComplete', function(e){
                            $(e.domElement).hide().text('已复制到剪贴板').fadeIn('fast');
                            window.setTimeout(function(){
                                $(e.domElement).text('复制全部链接到剪贴板');
                            }, 2000);
                        });
                    });
                    $('.win_rename_container').mouseenter(function(){
                        var trackid = $('#trackid').is(':checked');
                        var artistname = $('#artistname').is(':checked');
                        var albumname = $('#albumname').is(':checked');
                        var trackname = $('#trackname').is(':checked');
                        var rem = '';
                        $('a.download').each(function(i, e){
                            var track_name = $(e).parent().siblings(':eq(1)').text().split('：')[1];
                            var album_name = $(e).parent().siblings(':eq(2)').text().split('：')[1];
                            var artist_name = $(e).parent().siblings(':eq(3)').text().split('：')[1];
                            rem += ('rename "' + $(e).attr('href').split('/').pop().replace('%20', ' ') + '" "' + (trackid ? i+1 + '. ' : '') + (artistname ? artist_name + ' - ' : '') + (albumname ? album_name + ' - ' : '') + (trackname ? track_name : '') + '.mp3"\r\n');
                        });
                        var clip = new ZeroClipboard.Client();
                        clip.setText(rem);
                        clip.setHandCursor(true);
                        clip.glue($(this).children('.win_rename_button').get(0), this);
                        clip.addEventListener('onComplete', function(e){
                            $(e.domElement).hide().text('已复制到剪贴板').fadeIn('fast');
                            window.setTimeout(function(){
                                $(e.domElement).text('Windows改名批处理');
                            }, 2000);
                        });
                    });
                    $('.nix_rename_container').mouseenter(function(){
                        var trackid = $('#trackid').is(':checked');
                        var artistname = $('#artistname').is(':checked');
                        var albumname = $('#albumname').is(':checked');
                        var trackname = $('#trackname').is(':checked');
                        var rem = '';
                        $('a.download').each(function(i, e){
                            var track_name = $(e).parent().siblings(':eq(1)').text().split('：')[1];
                            var album_name = $(e).parent().siblings(':eq(2)').text().split('：')[1];
                            var artist_name = $(e).parent().siblings(':eq(3)').text().split('：')[1];
                            rem += ('mv "' + $(e).attr('href').split('/').pop().replace('%20', ' ') + '" "' + (trackid ? i+1 + '. ' : '') + (artistname ? artist_name + ' - ' : '') + (albumname ? album_name + ' - ' : '') + (trackname ? track_name : '') + '.mp3"\r\n');
                        });
                        var clip = new ZeroClipboard.Client();
                        clip.setText(rem);
                        clip.setHandCursor(true);
                        clip.glue($(this).children('.nix_rename_button').get(0), this);
                        clip.addEventListener('onComplete', function(e){
                            $(e.domElement).hide().text('已复制到剪贴板').fadeIn('fast');
                            window.setTimeout(function(){
                                $(e.domElement).text('*nix改名Shell');
                            }, 2000);
                        });
                    });
                    
                    {% endif %}
            });
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31260276-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();     
        </script>

  </body>
</html>

